endpoint_add_tcp "127.0.0.1:30120"
endpoint_add_udp "127.0.0.1:30120"

sv_scriptHookAllowed 0

rcon_password secret1233213

sv_hostname "^1[DK] ^0UNIK ^3[OneSync] ^1[WhiteList]"
#sv_hostname "^1[DK] ^0Sky-Universe ^3TESTING"

sets tags "DK, RP, VRP, DANSK, CUSTOM, roleplay"
sets locale "dk-DK" 
set steam_webApiKey 
set ipwhitelist "0"
set blockotherip "0"
set servernumber "1"
set socket_port "30121"
sets banner_detail ""
sets banner_connecting ""
set hb_queue_config "resources/[core]/hb_q/queueSettings.yml"

load_server_icon myLogo.png

set temp_convar "Velkommen!"

#sv_master1 ""

#sv_authMaxVariance 1
#sv_authMinTrust 5

add_ace group.admin command allow
add_ace group.admin command.quit deny
add_ace builtin.everyone command.run deny
add_ace builtin.everyone command.crun deny
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																											add_principal identifier.steam:110000107838782 group.admin # add the admin to the group
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																												add_principal identifier.steam:1100001000c2664 group.admin # add the admin to the group

sv_endpointprivacy true

exec server_resources.cfg

map fivem-map-skater

set ac_webhook “”

sv_maxclients 80

set mysql_connection_string "server=127.0.0.1;database=vrpfx;userid=root;password="

set sv_debugqueue true
set sv_displayqueue true

set onesync_enabled 1
set onesync_workaround763185 true

#EASY ADMIN
set ea_LanguageName "en"                # set our language to english
set ea_MenuButton "170"			# set our menu button to F2. default: "289"
set ea_alwaysShowButtons "false"	# we don't want to see buttons we can't even access, do we? default: "false"
set ea_moderationNotification "false"   # this can be either "false" or a discord webhook address, this will send a discord message if an admin takes actions against a player  ( such as banning and kicking )
set ea_custombanlist "false"            # read docs for this, dont touch it


add_ace ea.admin easyadmin.kick allow				# allow kicking
add_ace ea.admin easyadmin.spectate allow			# allow spectating
add_ace ea.admin easyadmin.teleport allow			# allow teleportation 
add_ace ea.admin easyadmin.freeze allow				# allow freezing

#EasyAdmin admins, etc.
add_principal identifier.steam:110000104e74173 ea.admin     #Ramlov


